---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }} <br style="line-height: 40px"/> <font size="3em"> <i>"{{ site.compass.quote }}"</i></font></p></div>
        {% endif %}
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
