<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file-text-o fa-lg main-list-item-icon"></span>
    <a href="/essays">Essays</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/samee_24">Thoughts</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/sameezahid">Connect</a>
  </li>
</ul>
<hr />
<h2>What do I do?</h2>
<p>I work on <a href="https://www.youtube.com/watch?v=JtRJXnXgE-A"> Local Search Quality</a> where I employ <u>NLP</u> and <u>ML</u> techniques to solve ranking and triggering problems. </p>

<h2>Where am I from?</h2>
<p>I've lived and traveled throughout the world.</p>
<ul>
  <li>Grew up in the culturally rich city of <a href="https://www.youtube.com/watch?v=Xdya8eym9nM">Lahore.</a></li>
  <li>Schooled at <a href="https://www.youtube.com/watch?v=n9ra1aEhVkc">Grinnell College</a> in Iowa, punctuated by a semester abroad in <a href="https://www.economist.com/eastern-approaches/2010/08/10/say-what">Budapest</a>.</li>
  <li>I now reside in the <a href="https://www.wired.com/story/in-ed-lees-san-francisco-utopia-and-dystopia-are-neighbors">Bay Area.</a></li>
  <li><a href="https://www.youtube.com/watch?v=YhqiSO_UFxg">Scouser</a> at heart.</li>
</ul>
